#backoffice-desktop-list {
  float: left;
  margin: 0;
  width: 100%;
}
#backoffice-desktop-list li {
  float: left;
  list-style: none;
  padding: 10px;
}
#backoffice-desktop-list li div {
  text-align: center;
}